<!DOCTYPE html>
<html lang="pt-br"  ng-app="callcommunity">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" >
	<title>Call Community - Messages</title>
	<link rel="icon" href="vendor/icon.png" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="lib/components/components-all.css">
	<link rel="stylesheet" type="text/css" href="vendor/callcommunity.css">
	<link rel="stylesheet" type="text/css" href="vendor/contacts.css">

	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular-touch.min.js"></script>
	<script type="text/javascript" src="vendor/callcommunity.js"></script>
	<script type="text/javascript" src="lib/components/date.js"></script>

	<script type="text/javascript" src="app/module.js"></script>
	<script type="text/javascript" src="app/controller.contact.js"></script>
	<script type="text/javascript" src="vendor/contacts.js"></script>
</head>
<body class="">
	<header class="row-xs-2 col-xs-12 background-secondary">
		<div class="row-xs-2 col-xs-2"></div>
		<div class="row-xs-2 col-xs-8 text-center"><h3>Mensagens</h3></div>
		<div class="row-xs-2 col-xs-2"></div>
	</header>
	<main class="contacts row-xs-20 col-xs-12" ng-controller="contact">
		<section class="contacts-details col-xs-12 row-xs-offset-2 row-xs-20">
			<div class="contacts-details-btn col-xs-12 row-xs-2">
				<button name="close" data-btn="close" ng-click="contactToggle ( );"></button>
			</div>
			<div class="col-xs-12 row-xs-5">
				<span class="contact-circle line radius">{{ contactCurrent.name.substring ( 1, 0 ); }}</span>
				<textarea name="name" placeholder="Nome" rows="3" ng-model="contactCurrent.name"></textarea>
			</div>
			<div class="col-xs-12 row-xs-5">
				<textarea name="condominium" rows="3" placeholder="Condomínio" ng-model="contactCurrent.condominium" ></textarea>
			</div>
			<div class="col-xs-12 row-xs-6">
				<input type="text" name="tel" placeholder="Telefone" ng-model="contactCurrent.tel" ></li>
			</div>
			<div class="col-xs-12 row-xs-2">
				<button name="delete" data-btn="secondary" ng-click="contactDelete ( ); " ng-disabled="!contactCurrent.name || !contactCurrent.condominium || !contactCurrent.tel || contactCurrent.index == null">Deletar</button>
				<button name="save" data-btn="secondary" ng-click="contactSave ( );" ng-disabled="!contactCurrent.name || !contactCurrent.condominium || !contactCurrent.tel">Salvar</button>
			</div>
		</section>
		<section class="contacts-list col-xs-12 row-xs-18">
			<label data-first-letter="{{ contact.name.substring ( 1, 0 ); }}" ng-repeat="contact in contacts" ng-dblclick="contactLoad ( $index ); ">
				<input type="checkbox" ng-model="contact.selected">
				<strong>{{ contact.name }}</strong>
				<em>{{ contact.tel }} - {{ contact.condominium }}</em>
			</label>
		</section>
		<section class="col-xs-12 row-xs-2">
			<button name="btn-new-contact" data-btn="secondary" ng-click="contactToggle ( );">Novo Contato</button>
		</section>
	</main>
	<footer class="row-xs-2 background-secondary">
		<nav class="col-xs-12 row-xs-2">
			<ul class="menu-footer col-xs-12 row-xs-2">
				<li><a href="calendar.html">Calendário</a></li>
				<li><a href="contacts.html">Contatos</a></li>
				<li><a href="multimedia.html">Audios</a></li>
				<li><a href="messages.html">Mensagens</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>