<link rel="stylesheet" type="text/css" href="vendor/css/sigin.css">

<main class="row-xs-24 col-xs-12 background-primary">

	<section class="row-xs-20 row-xs-offset-2 text-center">
		
		<form>

			<legend>Call Community</legend>
			
			<span class="form-message">{{ sigIn.message }}</span>

			<span data-animation="line-load" ng-show="sigIn.load"></span>

			<input type="text" placeholder="Nome" autofocus ng-model="user.name" ng-hide="sigIn.end">

			<input type="email" placeholder="nome@example.com" ng-model="user.email" ng-hide="sigIn.end">

			<input type="password" placeholder="Palavra-passe" 
				ng-class="{ 'error-input': ( user.password.length > 0 ), 'success-input': ( user.password.length >= 8 ) }"
				ng-model="user.password"
				ng-hide="sigIn.end"
			>

			<input type="password" placeholder="Palavra-passe" 
				ng-class="{ 
					'error-input': ( sigIn.passwordConfirm.length > 0 && sigIn.passwordConfirm != user.password ), 
					'success-input': ( sigIn.passwordConfirm.length >= 8 && sigIn.passwordConfirm == user.password ),
				}"
				ng-model="sigIn.passwordConfirm"
				ng-hide="sigIn.end"
			>

			<button class="radius-4" type="submit" 
				ng-click="sigIn.save ( user )" 
				ng-disabled="sigIn.disabled ( );"
				ng-hide="sigIn.end" 
			>Criar conta</button>

			<a href="#!/login" class="form-link" >Fazer login {{ email.indexOf("@") }}</a>
		
		</form>
	
	</section>

</main>
