<link rel="stylesheet" type="text/css" href="vendor/css/sigin.css">
<main class="row-xs-24 col-xs-12 background-primary">
	<section class="row-xs-20 row-xs-offset-2 text-center">
		<form class="">
			<legend>Call Community</legend>
			
			<span class="form-message">{{ sigIn.message [ 0 ] }}</span>

			<span data-animation="line-load" ng-show="sigIn.load"></span>

			<input class="" type="text" placeholder="Nome" autofocus ng-model="user.name">

			<input class="" type="email" placeholder="nome@example.com" ng-model="user.email">

			<input class="" type="password" placeholder="Palavra-passe" ng-model="user.password">

			<input class="{{sigIn.classPasswordConfirm}}" type="password" placeholder="Palavra-passe" ng-model="passwordConfirm">

			<button class="radius-4" type="button" ng-click="" ng-disabled="sigIn.disabled ( );" >Criar conta</button>

			<a href="#!/login" class="form-link">Fazer login {{ email.indexOf("@") }}</a>
		</form>
	</section>
</main>