body {
    background: none;
}

.task-header {  }

.task-nav {  
	border-bottom: solid 1px #DDD;
	box-shadow: 0 0 2px #BBB;
}

.task-nav > * {
	align-items: center;
	display: grid;
	grid-template-columns: 60px 4fr 2fr 2fr 4fr;
	grid-template-rows: 1fr;
	height: 60px;
	text-align: center;
	width: 100%;
}

.task-nav > * > * {
	box-sizing: border-box;
	display: inline-block;
	min-width: 60px;
	font-size: 18px;
	text-align: center;
	position: relative;
	/* border: solid 1px #F00; */
}

.task-nav > * > * > button,
.task-nav > * > * > input {
	cursor: pointer;
	border: none;
	height: 100%;
	font-size: inherit;
	line-height: inherit;
	display: inline-block;
	margin: 1px 2px;
	padding: 8px 16px;
	vertical-align: top;
	border-radius: 4px;
	background-color: transparent;
	border:solid 1px #CCC;
	outline: 0;
	text-transform: capitalize;
}

.task-nav > * > * > button:hover,
.task-nav > * > * > button:focus,
.task-nav > * > * > input:hover,
.task-nav > * > * > input:focus  {
	background-color: rgba( 241, 243, 244, 1 );
	border-color: rgba( 26, 115, 232, 1 );
}

.task-nav > * > * > input {
	cursor: auto;
	background-color: transparent !important;
	width: calc( 100% - 60px );
	display: block;
}

.task-nav > * > *:first-child {
	height: 100%;
	width: 100%;
}

.task-nav > * > *:first-child button {
	background-image: url( "../../vendor/img/hamburguer.svg" );
	background-attachment: local;
  	background-origin: border-box;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 60% 60%;
	width: 50px;
	border: none;
	border-radius: 50%;
	height: 50px;
	vertical-align: top;
	padding: 0;
	margin: 0 0 0 0;
	top: calc( 50% - 25px ) ;
	left: calc( 50% - 25px);
	position: relative;
	transition: box-shadow 0.3s ease-in-out;
	background-color: rgba( 241, 243, 244, 0.4 );
}

.task-nav > * > *:first-child button:hover,
.task-nav > * > *:first-child button:focus {
	box-shadow: 0px 1px 12px 1px #CCC;
}

.task-nav > * > * > span {
	font-size: inherit;
	line-height: inherit;
	display: inline-block;
	margin: 0 2px;
	padding: 8px 12px;
	vertical-align: baseline;
	border-radius: 4px;
	background-color: rgb( 68, 132, 241 );
	color: #FFF;
	margin-right: 8px;
	border: none;
}

.task-nav > * > * > em {
	font-weight: normal;
	font-style: normal;
	text-transform: capitalize;
}

.task-nav .task-nav-arrows > * {
	border: none;
	border-radius: 50%;
	height: 45px; 
	padding: 0;
	width: 45px;
}

/****************************************************************************************************/

.task-view {
	overflow-y: scroll;
	min-height: 500px;
  	display: block;
  	margin-top: 10px;
  	/* border: solid 1px #f00;*/
	/*
	scrollbar-width: 2px;
  	scrollbar-color: #DDD;
  	*/
}

.task-view::-webkit-scrollbar {
  width: 2px;
}

.task-view::-webkit-scrollbar-thumb {
  background-color: #666;
}

.task-view::-webkit-scrollbar-track {
  background-color: #DDD;
}



.task-tool {
	display: block;
	border-bottom: solid 1px #DDD;
	box-shadow: 0 0 2px #BBB;
	height: 60px;
	position: relative;
}

.task-tool button,
.task-tool div {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 4px 0 0 4px;
}

.task-tool button {
	border-radius: 50%;
	margin-left: 24px;
	border: none;
	font-size: 42px;
	line-height: 0px;
	color: rgba( 26, 115, 232, 1 );
	background-color: #FBFBFB;
	box-shadow: 0px 1px 3px 1px #CCC;
	transition: box-shadow 0.3s ease-in-out;
	outline: 0;
}

.task-tool button:hover,
.task-tool button:focus {
	box-shadow: 0px 2px 12px 2px #AAA;
	background-color: rgba( 241, 243, 244, 0.4 );
}

.task-tool div {
	top: 32px;
	text-align: center;
	z-index: 10;
	transition: margin 0.5s ease-in-out;
}

.task-tool div > * {
	display: block;
}

.task-tool div > em {
	font-size: 16px;
	line-height: 16px;
	color: rgba( 26, 115, 232, 1 );
	margin-top: -18px;
}

.task-tool div > span {
	background-color: rgba( 26, 115, 232, 1 );
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	color: #FFF;
	margin: 0;
}

/******************************************************************************************/

.task-container {
	display: inline-block;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat( 10, 40px );
	max-height: 1200px;
	min-height: 200px;
	align-items: center;
	vertical-align: top;
	padding: 0;
	margin: 0;
	position: relative;
	vertical-align: top;
	width: 100%;
	/*
	border: solid 1px #F00;
	*/
}

.task-container > * {
	min-height: 38px;
	height: 100%;
	border-bottom: solid 1px #DDD;
	position: relative;
	width: calc( 100% - 56px );
	margin-left: 56px;
	font-size: 0;
	line-height: 0;
	/*
	box-shadow: 0 0 2px #BBB;
	*/
}

.task-container > *::before {
	background-color: transparent;
	color: #000;
	content: attr( data-hour )":00";
	display: block;
	height: inherit;
	font-size: 10px;
	font-weight: 100;
	margin: 0;
	position: absolute;
	width: 56px;
	top: 0px;
	left: -48px;
	line-height: 0;
	padding: 0 16px 0 0;
	box-sizing: border-box;
	text-align: right;
	border-right: solid 1px #DDD;
}

.task-container > *:first-child::before {
	content: "";
}

.task-container > * > * {
	background-color: rgba( 213, 0, 0, 1 );
	border: none;
	display: block;
	font-size: 11px;
	height: calc( 100% - 2px );
	width: calc( 100% - 32px );
	margin: 0 0 0 9px;
	left: 0;
	top:  0;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 2px 2px 4px #BBB;
	outline: 0;
}

.task-container > div > *::before,
.task-container > div > *::after {
	color: #FFF;
	display: block;
	width: 100%;
	font-size: 12px;
	box-sizing: border-box;
	vertical-align: top;
	top: 0;
	position: absolute;
	text-align: left;
	padding-left: 4px;
}

.task-container > div > *::before {
	content: attr( data-title );
	line-height: 20px;
	height: 18px;
	font-weight: bold;
	margin: 0px 0 0 0;
}

.task-container > div > *::after {
	content: attr( data-local );
	height: 20px;
	font-size: 11px;
	line-height: 11px;;
	margin: 18px  0 0 0;
}

/**************************************/
.task-row-container,
.task-menu-aside {
	display: inline-block;
	vertical-align: top;
	transition: width, margin, 0.5s ease-in-out;
	top: 0;
	margin: 0;
	left: 0;
	position: relative;
}

.task-row-container {
	width: 100%;
}

.task-row-container.active {
	width: calc( 100% - 260px );
}

.task-menu-aside {
	/*
	border: solid 0.1px #F00;
	*/
	width: 250px;
	height: 400px;
	margin-left: -260px;
}

.task-menu-aside.active {
	margin-left: 0px;
}

.task-tool > div.active {
	margin-left: 250px;
}

/*****************************/

.task-menu-aside {
	padding: 24px 0 0 0;
}

.task-menu-aside > * {
	min-height: 40px;
}

.calendar {
	padding: 12px;
	box-sizing: border-box;
}

.calendar .calendar-header {
	height: 24px;
}

.calendar .calendar-header > *:first-child {
	width: calc( 100% - 72px );
	height: 24px;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 8px;
	text-transform: capitalize;
	font-style: normal;
}

.calendar .calendar-header > button {
	height: 100%;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	top: 0;
	border: none;
	background-color: transparent;
	border-radius: 50%;
	outline: 0;
	font-size: 20px;
	line-height: 28px
	vertical-align: top;
	text-align: center;
}

.calendar .calendar-header > button:hover,
.calendar .calendar-header > button:focus {
	background-color: rgba( 241, 243, 244, 1 );
}

.calendar .calendar-cells {
}

.calendar .calendaar-week > *,
.calendar .calendar-cells > * {
	width: calc( ( 100% / 7 ) - 1px );
	display: inline-block; 
	text-align: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: 0;
	height: 24px;
	line-height: 28px;
	position: relative;
	vertical-align: top;
	top: 0;
}

.calendar .calendar-cells > *::before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: calc( 50% - 15px);
	left: calc( 50% - 15px );
	border-radius: 50%;
	background-color: transparent;
	z-index: -1;
}

.calendar .calendar-cells > *:hover::before,
.calendar .calendar-cells > *:focus::before {
	background-color: rgba( 241, 243, 244, 1 );
}


.calendar .calendar-cells .monthLess {
	color: #AAA;
}

.task-menu-aside input {
	border-radius: 4px;
	border: none;
	outline: 0;
	border: solid 1px #DDD;
	width: calc( 100% - 24px );
	padding: 8px 12px;
	font-size: 16px;
	margin: 0;
	margin-top: 24px;
}