<link rel="stylesheet" type="text/css" href="app/task/task.css">
<header class="task-header">
	<nav class="task-nav">
		<ul>
			<li><button ng-click="menu ( );"></button></li>
			<li>
				<span>{{ date.day }}</span>
				<em>{{ date.Month }} de {{ date.Year }}</em>
			</li>
			<li><button ng-click=" today ( ); ">Hoje</button></li>
			<li class="task-nav-arrows">
				<button ng-click=" previousDay ( ( date.d ) );"><</button>
				<button ng-click=" nextDay ( ( date.d ) );">></button>
			</li>
			<li><input  type="text" placeholder="Pesquise aqui..." ></li>
		</ul>
	</nav>
</header>
<main class="task-view">
	<section class="task-tool">
		<button>+</button>
		<div class="{{ ( aside ) ? 'active' : ''; }}">
			<em>{{ date.week }}</em>
			<span>{{ date.day }}</span>
		</div>
	</section>
	<aside class="task-menu-aside {{ ( aside ) ? 'active' : ''; }}">
		<section class="calendar">
			<div class="calendar-header">
				<em>{{ calendar.month }} de {{ calendar.current.year }}</em>
				<button ng-click="previous ( calendar.current.year, calendar.current.m );" ><</button>
				<button ng-click="next ( calendar.current.year, calendar.current.m );" >></button>
			</div>
			<div class="calendaar-week">
				<span ng-repeat=" w in calendar.week track by $index">{{ w }}</span>
			</div>
			<div class="calendar-cells">
				<button 
					ng-repeat=" before in calendar.before.days track by $index"
					ng-click=" daySelect ( calendar.before.year, calendar.before.m, before )"
					class="monthLess" 
				>{{ before }}</button>
				<button 
					ng-repeat=" current in calendar.current.days track by $index"
					ng-click=" daySelect ( calendar.current.year, calendar.current.m, current )"
				>{{ current }}</button>
				<button 
					ng-repeat=" after in calendar.after.days track by $index"
					ng-click=" daySelect ( calendar.after.year, calendar.after.m, after )"
					class="monthLess"
				>{{ after }}</button>
			</div>
		</section>
		<section>
			<input type="" name="" ng-model="search" placeholder="Pesquise aqui..." >
		</section>
	</aside>
	<div class="task-row-container {{ ( aside ) ? 'active': '' }}">
		<section class="task-container">
			<div></div>
			<div data-hour="{{task.hour}}" ng-repeat=" task in taskView">
				<button 
					ng-show="task.title" 
					ng-click="openTask ( task ); "
					data-title="{{task.title}}" 
					data-local="{{task.local}}"
				></button>
			</div>
		</section>
	</div>
</main>