<link rel="stylesheet" type="text/css" href="app/sigin/sigin.css">
<form class="sigin-form {{ ( toggles.authorized ) ? 'sigin-authorized' : ''; }} {{ ( toggles.load ) ? 'load' : '' ;}}">
	<div>
		<h4 class="sigin-title" >Call Community</h4>
		<h2 class="sigin-head">Criar um Conta</h2>
		<div class="sigin-name">
			<input type="text" placeholder="Nome Próprio" ng-model="sigin.firstName">
			<input type="text" placeholder="apelido" ng-model="sigin.user">
		</div>
		<div class="sigin-email" >
			<input 
				type="email" 
				placeholder="Email do utilizador"
				ng-model="sigin.email"
			>
			<span class="sigin-notice {{ ( toggles.existEmail ) ? 'email-notice' : '' }}" >{{ msgEmail }}</span>
		</div>
		<div class="sigin-password" > 
			<input 
				type="{{ ( toggles.showPassword ) ? 'text' : 'password' }}" 
				placeholder="Palavra-passe"
				ng-model="password"
			> 
			<input 
				type="{{ ( toggles.showPassword ) ? 'text' : 'password' }}" 
				placeholder="Confirmar"
				ng-model="sigin.password" 
			>
			<span ng-click=" showPassword ( ); "></span>
		</div>
		<span class="sigin-notice" >Utilize 8 ou mais caracteres numa mistura de letras, números e símbolos.</span>
		<button 
			class="sigin-btn" 
			type="submit" 
			ng-click=" sender ( sigin )"
			ng-disabled="!(sigin.firstName.length >= 2) || !(sigin.user.length >= 2) || !(sigin.email.length >= 4 ) || !( sigin.password.length >= 8 ) || !( sigin.password == password )"
		>Seguinte</button>
	</div>
	<div class="sigin-img">
		<span class="sigin-notice">Tecnologia e serviços especializados.</span>
	</div>
</form>