lucasfrct@gmail.com | Frct@2018

Application Name = callcommunity

Application ID = 5d302cb4-251b-4630-b7df-1ae5630435b4

API Key = 3cc5690d

API Secret = glClhm3x93AtIuaj

Signature Secret = noYHiHMUXjsLXSeUvzTNGmvshEnJtayqGV54ay1bQOWjcCBJkS

URL Events (POST) = http://gosimplesolutions.com.br/callcommunity/event/

URL Answer (GET) = http://gosimplesolutions.com.br/callcommunity/answer/

Public Key
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsg6JOSXTTjqN1og4DJYb
mGEjIlSTc1tLgqQV432zew+hzMkIDKrKwAvwQU0/3Ccn+fz7it10k4Z9y8mxi43C
WFGEuAJQiJndU8M7e/KyrsP21gta13LBPHyelev91eN8hJvqhgAFsuRhR9XGPiij
UX7FPsGqRNqV4fA4Bd7a7Qx4czNPjNM1u1bo09mtFZ6oxETIvp+5gHNSmLts/xR/
1qDquoCp24OqEx9vgCzNd8YVXbm+gLHjjgh7iIJsFot3zfWly2TRNNMJFhHN4VwP
N7WSLLAMqnXnDENlOJWN/9/nY1Vved27t4Glftk2G+n30The6k71NGey+Bgmc92V
mwIDAQAB
-----END PUBLIC KEY-----

